.red{
    background-color: red;
    width: 100%;
    height: 100px;
}

.blue{
    background-color: blue;
    width: 100%;
    height: 70px;
}

.yellow{
    background-color: yellow;
    width: 100%;
    height: 30px;
}

.green{
    background-color: green;
    width: 100%;
    height: 50px;
}


.flex{
    height: 100px;
    display: flex;
}

.flex-v{
    flex-direction: row;
}

.flex-h{
    flex-direction: column;
}

.red-flex{
    background-color: red;
    flex: 1;
    height: 100%;
}

.blue-flex{
    background-color: blue;
    flex: 1;
    height: 100%;
}

.yellow-flex{
    background-color: yellow;
    flex: 1;
    height: 100%;
}

.green-flex{
    background-color: green;
    flex: 1;
    height: 100%;
}

div{
    border: 1px solid black;
}

.grid{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px;
}

.box1 {     
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 5;
}